/* Media Query для маленьких экранов (мобильные устройства) до 750px */
@media only screen and (max-width: 750px) {
    .wrapperGrid {
        display: block;
    }
    .welcomePart,
    .welcomePartMain {
        width: 100%;
        height: 100vh;
        margin-bottom: 20px;
    }
    .wrapper nav ul {
        padding: 20px;
        font-size: 16px;
    }
    .welcomePart {
        display: block;
    }
}

/* Media Query для остальных экранов (планшеты, десктопы) от 751px */
@media only screen and (min-width: 751px) and (max-width:1024px) {
    .welcomePart,
    .welcomePartMain {
        width: 100%;
        height: 100vh;
        margin-bottom: 20px;
    }
    .wrapper nav ul {
        padding: 40px;
        font-size: 20px;
    }
    .welcomePart {
        display: block;
    }
        .TextAbout {
            position: absolute;
            text-align: center;
            top: 35%;
            left: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            width: 300px;
            z-index: 3;
        }
    
        .TextAbout h1 {
            font-size: 50px;
            width: 300px;
            color: white;
        }
    
        .TextAbout p {
    
            font-size: 20px;
            width: 300px;
            color: gray;
        }
}
@media only screen and (min-width: 1024px) and (max-width:1200px) {
    .TextAbout {
            position: absolute;
            text-align: center;
            top: 35%;
            left: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            width: 300px;
            z-index: 3;
        }
    
        .TextAbout h1 {
            font-size: 50px;
            width: 300px;
            color: white;
        }
    
        .TextAbout p {
    
            font-size: 20px;
            width: 300px;
            color: gray;
        }


}