/* Пример медиа-запроса для устройств с маленькими экранами (мобильные устройства) */
@media screen and (max-width: 768px) {
    /* Здесь применяются стили для мобильных устройств */
    .wrapper nav ul {
        padding: 10px;
        /* Уменьшил padding для более компактного отображения */
        font-size: 16px;
        /* Уменьшил размер шрифта для лучшей читаемости на мобильных устройствах */
    }
    .wrapperGrid {
        display: block;
        /* Оставил как есть */
    }
    .welcomePart .Info h1 {
        font-size: 18px;
        /* Увеличил размер заголовка для лучшей читаемости на мобильных устройствах */
    }
    .modal-window>div {
        width: 90%;
        /* Изменил ширину модального окна для адаптации к мобильным устройствам */
        max-width: 600px;
        height: 70vh;
        /* Установил максимальную ширину модального окна */
        margin: 0 auto;
        /* Центрировал модальное окно по горизонтали */
    }
    .products {
        height: 80%;
        width: 90%;
        grid-template-columns: 45% 45%;
        /* Изменил на одну колонку для лучшей читаемости на мобильных устройствах */
    }
}

/* Пример медиа-запроса для устройств с планшетными экранами */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Здесь применяются стили для планшетных устройств */
    /* Вставьте здесь соответствующие стили для планшетных устройств */
}

/* Пример медиа-запроса для устройств с высоким разрешением (например, ноутбуки и десктопы) */
@media screen and (min-width: 1024px) {
    /* Здесь применяются стили для устройств с высоким разрешением */
    /* Вставьте здесь соответствующие стили для устройств с высоким разрешением */
}